#dialog {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dialog-text {
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.dialog-element {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#dialog-tip-of-the-day {
    font-size: small;
    max-width: 20rem;
}

#tips>div {
    font-size: small;
    max-width: 30rem;
    text-align: center;
}
